@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Soy Ramen</h1>
    <p>Your local corner mart for instant noodles and instant friends.</p>
</div>
