@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="images\ramen-bowl.png" alt='cartoon bowl of ramen'/>
    <h1 class="display-4">Soy Ramen</h1>
    <h2>Your local corner mart for instant noodles and instant friends.</h2>
</div>
<div className='about'>
    <h5>Inspired by a trip to Korea, owner Sandy opened Soy Ramen corner mart for all those last minute lunches, cute first dates, or just a fun spot to microwave a bowl and hang with your bffs. Equipped with all your favorite ramen, beer, snacks...stop on by!</h5>
</div>
<div className='history'>
    <h3>라면 拉麺 ラーメン</h3>
    <h5>There are many styles, forms, methods of the delicious pulled noodles.</h5>
</div>
