<section>
    <div class='info'>
        <div>   
            <h3>Location</h3>
            <p>123 Ocean Hwy</p>
            <p>Ste C</p>
            <p>Oceanside, CA 92054</p>
            <p>Phone Number (012) 345-6789</p>
            <table class='hours'>
                <h3>Hours</h3>
                <tr className='Sunday'>
                    <td>Sunday</td>
                    <td>10:00am - 3:00am</td>
                </tr>
                <tr className='Monday'>
                    <td>Monday</td>
                    <td>8:00am - 3:00am</td>
                </tr>
                <tr className='Tuesday'>
                    <td>Tuesday</td>
                    <td>8:00am - 3:00am</td>
                </tr>
                <tr className='Wednesday'>
                    <td>Wednesday</td>
                    <td>8:00am - 3:00am</td>
                </tr>
                <tr className='Thursday'>
                    <td>Thursday</td>
                    <td>8:00am - 3:00am</td>
                </tr>
                <tr className='Friday'>
                    <td>Friday</td>
                    <td>8:00am - 3:00am</td>
                </tr>
                <tr className='Saturday'>
                    <td>Saturday</td>
                    <td>10:00am - 3:00am</td>
                </tr>
            </table>
            <div class='btn'>
                <button>Facebook</button>
                <button>Instagram</button>
            </div>
        </div>
        <img src='https://thumbs.dreamstime.com/b/instant-noodles-27484196.jpg' alt='rows of cup noodles'/>
    </div>
    <div class='about'>
        <h4>About Oceanside's Favorite Ramen Stop</h4>
        <h5>After a vacation to South Korea, owner Sandy opened Corner Ramen as a one-stop-shop for all those last minute lunches, busy bees, cute first dates and relaxing get-togethers with friends. We have all your fave ramen, noodles, beers and snacks...come microwave a bowl and just relax.</h5>  
    </div>    
</section>