div {
    width: 65vw;
    margin: 5vh auto;
    font-family: 'Dosis', sans-serif
}

div div{
    border: 1px solid gray;
    border-radius: 6px;
}

div p{
    font-size: 2rem;
}

div ul{
    display: flex;
    flex-wrap: wrap;
}

div li{
    background: #d8cc5c;
    padding: 50px;;
    border-radius: 4px;
    margin: 10px;
    text-align: center;
}