<section>
  <div>
    <img src='https://cdn130.picsart.com/261791116010212.png?r1024x1024' alt='bowl of ramen cartoon cute'/>
    <h1>{{ name }}</h1>
    <h3>A Hot Bowl of Happy</h3>
    <h4>After a vacation to South Korea, owner Sandy opened Corner Ramen as a one-stop-shop for all those last minute lunches, busy bees, cute first dates and relaxing get-togethers with friends. We have all your fave ramen, noodles, beers and snacks...come microwave a bowl and just relax.</h4>
  </div>

  <div>
    <h3>拉麺 ラーメン 라면</h3>
    <h4>"Pulled noodles" is a Japanese reinvention of the Chinese wheat noodles, which were introduced to the large island in the 1660s by neo-Confucian scholar (and refugee) Zhu Shunsui. Maybe. Or perhaps it wasn't until 1859 with the boom of Yokohama Chinatown.</h4>
  </div>
  
  <router-outlet></router-outlet>
</section>