div{
    width: 60vw;
    height: 60vh;
    margin: 5vh auto;
}

div h3{
    font-size: 2.5rem;
}

div h4{
    font-size: 2rem;
    color: rgb(78, 134, 238);
    font-weight: 800;
}

div .slider{
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto;
    max-height: 40vh
}
div img{
    height: 35vh;
    width: 15vw;
    object-fit: cover;
    margin: auto;
}